/composer.lock
/.tools/.cache/
/node_modules/
/vendor/

# Local project for testing
/.tools/project/*
!/.tools/project/public/
/.tools/project/public/*
!/.tools/project/public/index.php
!/.tools/project/public/redaxo/
!/.tools/project/src/
/.tools/project/src/*
!/.tools/project/src/Project.php

# PhpStorm setting
/.idea/*
!/.idea/encodings.xml
!/.idea/icon.svg
!/.idea/jsonSchemas.xml
!/.idea/sqldialects.xml
!/.idea/codeStyles/
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
/.idea/runConfigurations/*
!/.idea/runConfigurations/phpunit.xml

# VSCode setting
.vscode

# Docker
/.docker
/docker-compose.*.yml
