.php-cs-fixer.cache
/composer.lock
/.phpunit.cache/
/node_modules/
/releases/
/vendor/

# Local project for testing
/.tools/project/*
!/.tools/project/public/
/.tools/project/public/*
!/.tools/project/public/index.php
!/.tools/project/public/redaxo/

# Addons
/redaxo/src/addons/*
!/redaxo/src/addons/debug/
!/redaxo/src/addons/install/
!/redaxo/src/addons/project/

# PhpStorm setting
/.idea/*
!/.idea/encodings.xml
!/.idea/icon.svg
!/.idea/jsonSchemas.xml
!/.idea/sqldialects.xml
!/.idea/codeStyles/
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
/.idea/runConfigurations/*
!/.idea/runConfigurations/phpunit.xml
!/.idea/scopes/

# VSCode setting
.vscode

# Docker
/.docker
/docker-compose.*.yml
